<!--home section-->
<section class="home">
    <div class="container-lg mt-sm-0 mt-md-5">
        <!-- mobile only image -->
        <div class="text-center d-block d-md-none">
            <img src="~/images/newbg.png" class="img-fluid" />
        </div>

        <div class="row g-4 justify-content-center align-items-center">
            <div class="col-md-5 text-center text-md-start" data-aos="fade-up">
                <h1 class="display-4">New Arrival <br> ready to rock?</h1>
                    <p>
                        Check out our latest collection of products
                        from the best brands in the world
                    </p>
                    <a href="#" class="btn1 text-decoration">
                        Shop Now
                        <i class="ri-arrow-right-line"></i>
                    </a>
            </div>

            <div class="col-md-7 text-center d-none d-md-block">
                <span class="tt"
                      data-bs-placement="bottom"
                      title="New Arrival">
                    <img src="~/images/newbg.png" class="img-fluid" />
                </span>
            </div>
        </div>
    </div>
</section>

<!--brands-->
<div class="brands mt-sm-0 mt-md-5">
    <div class="main-brands" data-aos="zoom-in">
        <div class="brand-c">
            <img src="~/images/g1.png" alt="">
        </div>

        <div class="brand-c">
            <img src="~/images/g2.png" alt="">
        </div>

        <div class="brand-c">
            <img src="~/images/g3.png" alt="">
        </div>

        <div class="brand-c">
            <img src="~/images/g4.png" alt="">
        </div>

        <div class="brand-c">
            <img src="~/images/g5.png" alt="">
        </div>
    </div>
</div>

<!--products-->
<section class="n-product">
    <div class="container-fluid">
        <div class="center-text" data-aos="fade-down">
            <h2>Shop the latest products</h2>
        </div>

        <div class="row mt-sm-0 mt-md-5 justify-content-center align-items-center mt-2" data-aos="zoom-in">
            <div class="col-md-4 mt-5">
                <div class="row-img">
                    <img src="~/images/n1.png" alt="">
                </div>
                <h3>T-Shirt with tape details</h3>
                <div class="star">
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-half-fill"></i></a>
                    <a href="#">4.5/5</a>
                </div>
                <div class="row-in">
                    <div class="row-left">
                        <a href="#">
                            Add to Cart
                            <i class="ri-shopping-cart-fill"></i>
                        </a>
                    </div>
                    <div class="row-right">
                        <h6>$150</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="row-img">
                    <img src="~/images/n2.png" alt="">
                </div>
                <h3>T-Shirt with tape details</h3>
                <div class="star">
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-half-fill"></i></a>
                    <a href="#">4.5/5</a>
                </div>
                <div class="row-in">
                    <div class="row-left">
                        <a href="#">
                            Add to Cart
                            <i class="ri-shopping-cart-fill"></i>
                        </a>
                    </div>
                    <div class="row-right">
                        <h6>$150</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="row-img">
                    <img src="~/images/n3.png" alt="">
                </div>
                <h3>T-Shirt with tape details</h3>
                <div class="star">
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-half-fill"></i></a>
                    <a href="#">4.5/5</a>
                </div>
                <div class="row-in">
                    <div class="row-left">
                        <a href="#">
                            Add to Cart
                            <i class="ri-shopping-cart-fill"></i>
                        </a>
                    </div>
                    <div class="row-right">
                        <h6>$150</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="row-img">
                    <img src="~/images/n4.png" alt="">
                </div>
                <h3>T-Shirt with tape details</h3>
                <div class="star">
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-half-fill"></i></a>
                    <a href="#">4.5/5</a>
                </div>
                <div class="row-in">
                    <div class="row-left">
                        <a href="#">
                            Add to Cart
                            <i class="ri-shopping-cart-fill"></i>
                        </a>
                    </div>
                    <div class="row-right">
                        <h6>$150</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="row-img">
                    <img src="~/images/n5.png" alt="">
                </div>
                <h3>T-Shirt with tape details</h3>
                <div class="star">
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-half-fill"></i></a>
                    <a href="#">4.5/5</a>
                </div>
                <div class="row-in">
                    <div class="row-left">
                        <a href="#">
                            Add to Cart
                            <i class="ri-shopping-cart-fill"></i>
                        </a>
                    </div>
                    <div class="row-right">
                        <h6>$150</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="row-img">
                    <img src="~/images/n6.png" alt="">
                </div>
                <h3>T-Shirt with tape details</h3>
                <div class="star">
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-half-fill"></i></a>
                    <a href="#">4.5/5</a>
                </div>
                <div class="row-in">
                    <div class="row-left">
                        <a href="#">
                            Add to Cart
                            <i class="ri-shopping-cart-fill"></i>
                        </a>
                    </div>
                    <div class="row-right">
                        <h6>$150</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="row-img">
                    <img src="~/images/n7.png" alt="">
                </div>
                <h3>T-Shirt with tape details</h3>
                <div class="star">
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-half-fill"></i></a>
                    <a href="#">4.5/5</a>
                </div>
                <div class="row-in">
                    <div class="row-left">
                        <a href="#">
                            Add to Cart
                            <i class="ri-shopping-cart-fill"></i>
                        </a>
                    </div>
                    <div class="row-right">
                        <h6>$150</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="row-img">
                    <img src="~/images/n8.png" alt="">
                </div>
                <h3>T-Shirt with tape details</h3>
                <div class="star">
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-half-fill"></i></a>
                    <a href="#">4.5/5</a>
                </div>
                <div class="row-in">
                    <div class="row-left">
                        <a href="#">
                            Add to Cart
                            <i class="ri-shopping-cart-fill"></i>
                        </a>
                    </div>
                    <div class="row-right">
                    </div>
                    <h6>$150</h6>
                </div>
            </div>
        </div>

        <div class="n-btn" data-aos="zoom-in">
            <a href="#" class="btn2">View All</a>
        </div>
    </div>
</section>

<!-- feature -->
<section class="feature">
    <div class="feature-content" data-aos="fade-down">
        <div class="box">
            <div class="f-icon">
                <i class="ri-bank-card-fill"></i>
            </div>
            <div class="f-text">
                <h3>Cash on Delivery</h3>
                <p>
                    Pay after receiving your order at doorstep.
                    Cash on delivery available. Shop now!
                </p>
            </div>
        </div>

        <div class="box">
            <div class="f-icon">
                <i class="ri-customer-service-fill"></i>
            </div>
            <div class="f-text">
                <h3>30 days return</h3>
                <p>
                    You can return your order at
                    any time within 30 days
                </p>
            </div>
        </div>

        <div class="box">
            <div class="f-icon">
                <i class="ri-truck-fill"></i>
            </div>
            <div class="f-text">
                <h3>Free Shipping</h3>
                <p>
                    Enjoy free shipping on all orders
                    over $100. Shop now and save!
                </p>
            </div>
        </div>
    </div>
</section>

<!--best selling-->
<section class="selling">
    <div class="center-text" data-aos="fade-up">
        <h2>Best Selling</h2>
    </div>

    <div class="selling-content" data-aos="zoom-in-up">
        <div class="col">
            <div class="col-img">
                <img src="~/images/n2.png" alt="">
            </div>

            <div class="col-icon">
                <a href="#"><i class="ri-heart-line"></i></a>
                <a href="#"><i class="ri-eye-line"></i></a>
                <a href="#"><i class="ri-shopping-cart-line"></i></a>
            </div>
        </div>

        <div class="col">
            <div class="col-img">
                <img src="~/images/n4.png" alt="">
            </div>

            <div class="col-icon">
                <a href="#"><i class="ri-heart-line"></i></a>
                <a href="#"><i class="ri-eye-line"></i></a>
                <a href="#"><i class="ri-shopping-cart-line"></i></a>
            </div>
        </div>

        <div class="col">
            <div class="col-img">
                <img src="~/images/n6.png" alt="">
            </div>

            <div class="col-icon">
                <a href="#"><i class="ri-heart-line"></i></a>
                <a href="#"><i class="ri-eye-line"></i></a>
                <a href="#"><i class="ri-shopping-cart-line"></i></a>
            </div>
        </div>
    </div>
</section>